{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - show_quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

 

      <div class="product">
          <div class="product-img">
              <img src="{{ card_product.featured_image.src | img_url: 'large' }}" alt="">
          </div>
          <div class="product-con">
              <h5>{% if card_product.type != blank %}{{ card_product.type }} {% else %} Product {% endif %}</h5>
              <h3><a href="{{ card_product.url }}">{{ card_product.title }}</a></h3>
              <div class="rating">
                <div class="shopify-product-reviews-badge" data-id="{{ card_product.id }}"></div>
              </div>

              {% if card_product.compare_at_price > card_product.price %}
                  <h4 class="price--regular">{{ card_product.compare_at_price | money }}</h4>
                  <h5 class="price--sale">{{ card_product.price | money }}</h5>
              {% else %}
                  <h4 class="price">{{ card_product.price | money }}</h4>
              {% endif %}

              <div class="pro-cont-btn">
                  <a class="btn-2" href="{{ card_product.url }}">Add</a>
              </div>


              {%- render 'button-wishlist', card_product -%} 
          </div>
      </div>
  

