<section class="product-cat">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-5 col-sm-12">
                <div class="filter-box">
                        <div class="filter">
                            <div class="related-products">
                                <h3>{{ section.settings.left_title }}</h3>

                                {% assign selected_collection = section.settings.collection_side %}
                                {% for product in collections[selected_collection].products limit: 3 %}
                                    <div class="product-box">
                                        <div class="rel-prod-image">
                                            <a href="{{ product.url }}">
                                                <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
                                            </a>
                                        </div>
                                        <div class="rel-prod-con">
                                            <h4><a href="{{ product.url }}">{{ product.title }}</a></h4>
                                            <p class="price">{{ product.price | money }}</p>
                                            <div class="rating">
                                                <div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        </div>
            </div>

                    {% if section.settings.product_single %}
                    <div class="shop-box">
                        <div class="shop-box-item">
                            <img src="{{ section.settings.product_single.featured_image.src | img_url: 'large' }}" alt="">
                        </div>
                        <div class="shop-box-content">
                            
                            <h3>{{ section.settings.product_single.title }}</h3>
                            <div class="rating">
                                <div class="shopify-product-reviews-badge" data-id="{{ section.settings.product_single.id }}"></div>
                            </div>
                            {% if section.settings.product_single.compare_at_price > section.settings.product_single.price %}
                                <h4 class="price--regular">{{ section.settings.product_single.compare_at_price | money }}</h4>
                                <h5 class="price--sale">{{ section.settings.product_single.price | money }}</h5>
                            {% else %}
                                <h4 class="price">{{ section.settings.product_single.price | money }}</h4>
                            {% endif %}

                    
                            <div class="shop-cont-btn">
                                <a class="btn-1" href="{{ section.settings.product_single.url }}">Shop Now</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}


                
            </div>
            <div class="col-lg-9 col-md-7 col-sm-12">
                <div class="shop-products">
                    <div class="products">
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="shop-title">
                                    <h4>{{ section.settings.title }}</h4>
                                </div>
                            </div>

                            {% assign selected_collection = section.settings.collection %}
                            {% for product in collections[selected_collection].products limit: 8 %}

                                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                                    <div class="product">
                                        <div class="product-img">
                                            <a href="{{ product.url }}">
                                                <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="">
                                            </a>
                                        </div>
                                        <div class="product-con">
                                            <h5>{% if product.type != blank %} {{ product.type }} {% else %} Product {% endif %}</h5>
                                            <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                                            <div class="rating">
                                                <div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
                                            </div>

                                            {% if product.compare_at_price > product.price %}
                                                <h4 class="price--regular">{{ product.compare_at_price | money }}</h4>
                                                <h5 class="price--sale">{{ product.price | money }}</h5>
                                            {% else %}
                                                <h4 class="price">{{ product.price | money }}</h4>
                                            {% endif %}


                                            <div class="pro-cont-btn">
                                                <a class="btn-2" href="{{ product.url }}">Add</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% schema %}
    {
      "name": "Cus Product Sec",
      "tag": "section",
      "class": "announcement-bar-section",
      "settings": [
        {
        "type": "text",
        "id": "title",
        "default": "Collections",
        "label": "Title"
        }, 
        {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
            "type": "text",
            "id": "left_title",
            "default": "NEW PRODUCTS",
            "label": "Title"
        },
        {
            "type": "collection",
            "id": "collection_side",
            "label": "t:sections.featured-collection.settings.collection.label"
        },
        {
            "type": "product",
            "id": "product_single",
            "label": "Select a Product"
        }
    ],

    "presets": [
        {
          "name": "Cus Product Sec"
        }
      ]
    }

{% endschema %}